body {
  margin: 0;
background: dodgerblue;

}


input,
section {
  display: none;
  /*padding: 1em;*/
  clear: both;
}


figure {
  margin: 0;
  position: relative;
}

figcaption {
  position: absolute;
  padding: 10px;
  bottom: 0;
  background: white;
  width: 100%;
  text-align: center;
}
figure img {
  width: 100%;
}




label.navigation {
  display: block;
  float: left;
  width: 33.3%;
  color: deeppink;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #eee;
  line-height: 3em;
}


label.loginnavigation {
  display: block;
  float: left;
  width: 50%;
  color: hotpink;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #eee;
  line-height: 3em;
}

label.selectTag {

color:fuchsia;
 float: top 2px;
display: block;

}

h2.loginlink{

   position: fixed;
    top: 0;
    right: 0;

    
  
}


h2.homelink {

position: fixed;
    top: 0;
    right: 0;


}


form.loginform {
    border: 3px solid #f1f1f1;
    width: 50%
}


input[type=text], input[type=password], input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



input[type=checkbox] {

width: 25%;
padding: 1px 1px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;



}

input[type=date] {

width: 25%;
padding: 1px 1px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;



}




button {
    background-color: darkred;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

button.search {
    background-color: darkgoldenrod;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}



.container {
    padding: 16px;
     color: hotpink;
}






#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

[id^="tab"]:checked + label {
  background: #fff;
  color: #222;
}
[id^="tab"]:checked + label .fa {
  color: red;
}

.tab-content {
  background: antiquewhite;
}
.fa {
  margin-right: 10px;
}




.tab_container section * {
  animation: fadeInScale 0.7s ease-in-out;
}

@keyframes fadeInScale {

  0% { 
  	transform: scale(0.85);
  	opacity: 0;
  }

  100% { 
  	transform: scale(1);
  	opacity: 1;
  }
  
}



.column {
  display: inline-block;
  width: 45%;
}

.numlist {
  counter-reset: mylist;
  
}
.numlist li {
  list-style-type: none;
}
.numlist li:before {
  content: counter(mylist) ". ";
  counter-increment: mylist;
}
.numlist2 {
  counter-reset: mylist 4;
}
.numlist3 li:before,
.numlist4 li:before {
  counter-increment: mylist 3;
  
}
.numlist3 li:before {
  
  float: left;
  
  width: 1.75em;
}
.numlist4 li:before {
  float: left;
  text-align: right;
  
  padding-right: 0.5em; 
  width: 1.25em;
}


[id^="news"]:target {
  background-color: #e5eecc;
  transition: all 2s ease;
}


div.animation {
    width: 10px;
    height: 10px;
    background-color: red;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    animation-name: example;
    animation-duration: 20s;
    position: absolute;
    left: 100px;
    top: 150px;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}


/*
   breakpoint 
*/
@media only screen and (max-width: 900px) {
  label span {
    display: none;
  }
  .column {
    display: inline-block;
    width: 100%;
  }
}